truffleDev/node_modules/
djangoDev/myVenv/
djangoDev/.vscode
djangoDev/DappVinci/DappVinci/__pycache__
djangoDev/DappVinci/DappVinci/db.sqlite3
djangoDev/DappVinci/DappVinci/patentApp/__pycache__
djangoDev/DappVinci/DappVinci/patentApp/migrations/__pycache__