{% extends 'patentApp/base.html' %}


{% block content %}
<div class="row ms-5">
    <div class="col-2 col-lg-1 col-sm-2 col-md-1 mt-auto mb-auto">
        <a href='/DappVinci/'><button class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-house"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                    <path fill-rule="evenodd"
                        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                </svg>
                <h6></h6>
            </button>
        </a>
    </div>
    <div class="col-4 text-start">
        {%if url_now == '/new' %}
        <h1>New Patent</h1>
        {% else %}
        <h2>Patent: {{ patent.content.title }}</h2>
        {% endif %}
    </div>
</div>



<form method="POST" enctype="multipart/form-data">{% csrf_token %}

    <div class="row ms-5 mb-3 mt-4">
        <div class="col-4">
            <div class="form-group">
                <h4><label for="form.title">Title</label></h4>
                {{ form1.title}}
            </div>
        </div>
    </div>

    <div class="row ms-5 mb-3">
        <div class="col-10 md-5">
            <div class="form-group">
                <h4><label for="form.description">sector</label></h4>
                {{ form1.sector}}
            </div>
        </div>
    </div>

    <div class="row ms-5 mb-3">
        <div class="col-10 md-5">
            <div class="form-group">
                <h4><label for="form.description">introduction</label></h4>
                {{ form1.introduction}}
            </div>
        </div>
    </div>

    <div class="row ms-5 mb-3">
        <div class="col-10 md-5">
            <div class="form-group">
                <h4><label for="form.description">description</label></h4>
                {{ form1.description}}
            </div>
        </div>
    </div>

    <div class="row ms-5 mb-3">
        <div class="col-11 ">
            <div class="form-group">
                <h4><label for="form.content">claims</label></h4>
                {{ form1.claims }}
            </div>
        </div>
    </div>

    <div class="row ms-5 mb-3">
        <div class="col-11 ">
            <div class="form-group">
                <h4><label for="form.content">image</label></h4>
                {{ form1.image }}
            </div>
        </div>
    </div>

    <div class="row ms-5 mb-3">
        <div class="col-11 ">
            <div class="form-group">
                <h4><label for="form.content">Deposit Info</label></h4>
                <b>current Assignee: </b>{{ form2.currentAssignee }}
                <b>inventors: </b>{{ form2.inventors }}
            </div>
        </div>
    </div>

    <div class="row ms-5  mb-4">
        <div class="col-8">
            <button type="submit" class="btn btn-lg btn-outline-primary">Send</button>
        </div>
    </div>
</form>

{% endblock %}